@model IEnumerable<ECommerce.Models.Company>

@{
    ViewBag.Title = "Index";
}

<h2>Companhia</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<p>
    @Html.ActionLink("Criar nova", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cities.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departaments.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cities.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departaments.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.CompanyID }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.CompanyID }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.CompanyID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
